// import plygrid

@import "{}/node_modules/plygrid/src/scss/_ply.scss";
@import url("https://fonts.googleapis.com/css?family=News+Cycle:700|Roboto:300,400");

// custom styles go below here.
// --------------------------------------------------

@import "helpers";
@import "layout/header";
@import "layout/entries";
@import "layout/sidebar";
//
body {
  font-family: "Roboto", sans-serif;

  h1,h2,h3,h4,h5 {
    font-family: "News Cycle", sans-serif;
  }
}

#app,
.app-container {
  position: relative;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
